---
layout: default
---


<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><U>Hotels
Near Maulana Azad Medical college</U></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<TABLE WIDTH=550 CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=96>
	<COL WIDTH=137>
	<COL WIDTH=90>
	<COL WIDTH=50>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Hotel name</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Distance
			from MAMC</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Rent</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>contact</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Mamc Guest
			House</FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>In campus</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Few  rooms
			available on first come basis, in twin sharing</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph.
			09868092739</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Hotel Broad
			way (3 star)</FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Asaf Ali Road</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs.1400-1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			01143663600</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Hotel Atithi
			Palace (3star)</FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs.2000-2500/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			01123245546</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Delhi Parsi
			Dharamshal</FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Metro station
			, Bahadur Shah Jafar Marg</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs.1000-1000
			/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			01123238615</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>GoStops
			Delhi</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Asaf
			Ali Road (Near Maulana Azad Medical College) (0.58 km) - 4 mins
			from </FONT></FONT><A HREF="https://www.makemytrip.com/hotels/delhi-hotels-near-rajghat.html"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><U>Rajghat</U></FONT></FONT></A></P>
			<P STYLE="margin-bottom: 0in"><BR>
			</P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911141056227</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+917428882828</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>White Palace
			Hotel</FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Asaf Ali Road</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123222319</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>OYO
			Rooms 350</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919152891512</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Hotel
			Arina Inn.</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911141520626</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911141520627</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911141520628</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919999791487</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919911706024</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+918368163578</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>S.K Palace
			Hotel</FONT></FONT></P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya Ganj</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs.500-1000/
			night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			01123267189</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Standard
			Hotel</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To
			Rs1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123253822</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123282280</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123287711</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123253422</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919654749990</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919350980214</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Hotel
			Wall Street</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919971718494</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Diamond
			Palace</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123243786</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919013213788</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Neeru
			Hotel</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><BR>
			</P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123278522</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123278756</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+917838218519</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919811089939</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Delhi
			Guest House</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Darya
			Ganj</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs. 501 To Rs
			1000/night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123289445</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+911123256227</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Ph:
			+919312228677</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<H2 CLASS="western"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-weight: normal">Hotel
			Yuvraj Deluxe</SPAN></FONT></FONT></FONT></H2>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>38,
			Arakashan Road, Pahar Ganj, New Delhi and NCR- 110055</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs&nbsp;1,200
			Per Night</FONT></FONT></P>
			<P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Deluxe
			Twin RS1400.00</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><A HREF="https://www.google.com/search?client=firefox-b&amp;q=hotel+yuvraj+deluxe+phone&amp;sa=X&amp;ved=0ahUKEwj_vujQ0pfcAhXJvY8KHRZGAHYQ6BMIpgIwEg&amp;biw=1440&amp;bih=786"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Phone</FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
			</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>011
			2354 4054</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<H1 CLASS="western"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-weight: normal">OYO
			13299 Hotel Blue Pearl </SPAN></FONT></FONT></FONT>
			</H1>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<H2 CLASS="western"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-weight: normal">Arakashan
			Road, Paharganj, Delhi </SPAN></FONT></FONT></FONT>
			</H2>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs1000.00 per
			night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><A HREF="https://www.google.com/search?client=firefox-b&amp;q=hotel+blue+pearl+phone&amp;sa=X&amp;ved=0ahUKEwiu_bid05fcAhUHu48KHQjnB3sQ6BMItAEwEg&amp;biw=1440&amp;bih=786"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Phone</FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
			</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>098715
			28529</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<H2 CLASS="western"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-weight: normal">Hotel
			Alka Classic</SPAN></FONT></FONT></FONT></H2>
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>P-16 Connaught
			Circus, Connaught Place, 110001 New Delhi, India</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs.3000 per
			night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><A HREF="https://www.google.com/search?client=firefox-b&amp;q=hotel+alka+classic+phone&amp;sa=X&amp;ved=0ahUKEwi2qrud1JfcAhUEtI8KHRA6DB4Q6BMI1gEwEg&amp;biw=1440&amp;bih=786"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Phone</FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
			</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>095826
			95890</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<H2 CLASS="western"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-weight: normal">Prem
			Sagar Guest House </SPAN></FONT></FONT></FONT>
			</H2>
			<H2 CLASS="western" STYLE="font-weight: normal"><BR>
			</H2>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>P-11 First
			Floor Connaught Circus, Connaught Place, 110001 New Delhi, India</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs 2500 per
			night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><A HREF="https://www.google.com/search?client=firefox-b&amp;q=prem+sagar+guest+house+phone&amp;sa=X&amp;ved=0ahUKEwj5lZrW1JfcAhULQY8KHVGhD4gQ6BMIyQEwFw&amp;biw=1440&amp;bih=786"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Phone</FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
			</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>011
			2334 5263</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<H2 CLASS="western"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-weight: normal">Atithi
			 (CP)</SPAN></FONT></FONT></FONT></H2>
			<H2 CLASS="western" STYLE="font-weight: normal"><BR>
			</H2>
		</TD>
		<TD WIDTH=137 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>1, Jain Mandir
			Road,  Behind Coffee Home, Connaught Place, Connaught Place,
			110001 New Delhi, India</FONT></FONT></P>
		</TD>
		<TD WIDTH=90 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Rs.4500 per
			night</FONT></FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P STYLE="margin-bottom: 0in"><A HREF="https://www.google.com/search?client=firefox-b&amp;q=atithi+connaught+place+phone&amp;sa=X&amp;ved=0ahUKEwiz9Z_D1ZfcAhWJsY8KHT-BBnAQ6BMI5gEwEg&amp;biw=1440&amp;bih=786"><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Phone</FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
			</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>011
			2334 0085</FONT></FONT></P>
			<P><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>