---
layout: default
---
<div id="slideshow">
    	<div>
    		<img src="{{site.baseurl}}/images/main1.jpeg"{:height="300px" width="600px"}>
    	</div>
    	<div>
    		<img src="{{site.baseurl}}/images/main2.jpeg"{:height="300px" width="600px"}>
    	</div>
    	<div>
    		<img src="{{site.baseurl}}/images/main3.jpeg"{:height="300px" width="600px"}>
    	</div>
    	<div>
    		<img src="{{site.baseurl}}/images/main4.jpeg"{:height="300px" width="600px"}>
    	</div>
    	<div>
    		<img src="{{site.baseurl}}/images/main10.jpeg"{:height="300px" width="600px"}>
    	</div>
    </div>
    <script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="{{ site.baseurl }}/javascript.js"></script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  {% include disqus.html %}
</article>
